{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::23::INSTR", "class": "LaserMainframeKeysight", "channels": [0]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [0], "args":{"lj_port": "AIN0"}}
        ],
         "OVA":
        [
            {"visa": "None", "class": "OpticalVectorAnalyzer", "channels": [0]}
        ],
        "PowerSupply":
        [
            {"visa": "GPIB0::27::INSTR", "class": "PowerSupplyKiethley", "channels": [0]}
        ]
    },
    "Mover":
    {
        "ThorlabsKCube": 
        [
            {"axis": "X", "sns": 27258584},
            {"axis": "Y", "sns": 27258581},
            {"axis": "Z", "sns": 27258547}
        ]
    }
}