{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "Laser":
        [
            {"visa": "GPIB0::23::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "GPIB0::21::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "GPIB0::14::INSTR", "class": "LaserMainframeKeysight", "channels": [0]},
            {"visa": "GPIB0::1::INSTR", "class": "LaserSantec", "channels": [0]}
        ],
        "Power Meter":
        [
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [0], "args":{"lj_port": "AIN0"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [1], "args":{"lj_port": "AIN1"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [2], "args":{"lj_port": "AIN2"}},
            {"visa": "None", "class": "PowerMeterKoheronPD10R", "channels": [3], "args":{"lj_port": "AIN3"}}
        ],
        "Switch":
        [
            {"visa": "None", "class": "SwitchDiconGP800", "channels": [0], "args":{"hostname": "gp800-ea6a", "port": 22, "username": "gp800admin", "password": "gp800admin"}}
        ],
         "OVA":
        [
            {"visa": "None", "class": "OpticalVectorAnalyzer", "channels": [0]}
        ],
        "PowerSupply":
        [
            {"visa": "GPIB0::27::INSTR", "class": "PowerSupplyKiethley", "channels": [0]}
        ]
    },
    "Mover":
    {
        "ThorlabsKCube": 
        [
            {"axis": "X", "sns": 27258584},
            {"axis": "Y", "sns": 27258581},
            {"axis": "Z", "sns": 27258547}
        ]
    }
}