{
    "Visa Library Path": "@ivi",
    "Instruments":
    {
        "OSC":
        [
            {"visa": "USB0::0x0699::0x0528::B011394::INSTR", "class": "OscilliscopeTektronixMSO64", "channels": [0]}
        ],
        "AUDIO":
        [
            {"visa": "None", "class": "ComputerAudio", "channels": [0]}
        ],
        "OVA":
        [
            {"visa": "None", "class": "OpticalVectorAnalyzer", "channels": [0]}
        ]     
    }
}