name: Linter

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install black flake8 isort
    - name: Lint with black
      run: black --check . --exclude docs/
    - name: Lint with flake8
      run: flake8 .
    - name: Run isort
      run: isort --profile black .
